<!DOCTYPE HTML PUBLIC "­//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

  {% block js%}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/principal">Inicio <span class="glyphicon glyphicon-home"></span></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Salir <span class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>
    </div>
  </nav>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p>Gracias por visitar nuestro sitio web.</p>
{% endblock %}
</body>
</html>
