{% extends "base.html"%}
{% block js %}
{%load static from staticfiles%}
<script src="{% static "login.js"%}"></script>
{%endblock%}
{% block title %}Bienvenida{% endblock %}
{% block content %}
    <p>{{ mensaje }}</p>
    <form action="/login" method="post">{%csrf_token%}
      <div class="form-group">
              <label for="us">Usuario: </label>
              <input type="text" class="form-control" name="usuario" id="us" required><br>
          </div>
          <div class="form-group">
              <label for="con">Contrasenia: </label>
              <input type="password" name="contrasenia" id="con" required><br>
          </div>
      <input type="submit" class="btn btn-default" value="Enviar"/>
  </form>
{% endblock %}
