{% extends "base.html"%}

{% block title %}Nueva Factura{% endblock %}

{% block content %}
<h2>Factura</h2>
<form method="post" action="guardarF">{% csrf_token %}
	Fecha:<br> <input type="date" name="fecha" ><br>
	Cliente: <br><select name="cliente">
								{%for c in cli%}
								<option value="{{c.id}}">{{c}}</option>
								{%endfor%}
							</select><br>
	producto:<br><select name="producto">
								{%for p in pro%}
								<option value="{{p.id}}">{{p}}</option>
								{%endfor%}
							</select>
	cantidad: <input type="text" name="cantidad" ><br>
	<input type="submit" value="Guardar">
</form>
{% endblock %}
