{% extends "base.html"%}
{% block js %}
{%load static from staticfiles%}
<script src="{% static "ejemplo.js"%}"></script>
{%endblock%}
{% block title %}Clientes{% endblock %}

{% block content %}
<h2>Clientes</h2>
<button class="actualizar btn btn-default">Actualizar</button>
<div class="col-sm-1"></div>
<div class="table-responsive col-sm-10">
	<table id="tablaprueba" border="solid">
		<thead>
			<tr><th>Cedula</th><th>Nombre</th><th>Correo</th><th></th><th></th></tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div id="col-sm-1"></div>
{% endblock %}
